# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/
.env
engine
docker-compose.yaml

.idea

# Logging
logs/

# Temp directories
tmp/

# Agentic Coding
CLAUDE.local.md
